<% layout('layout/boilerplate') -%>
<body>
    <h3>All listing</h3>
    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-lg-1 ">
        <% for(let list of allListing) {%>
            <a href="/listing/<%= list._id %>" class="listing-link">
                <div class="card col" style="width: 18rem;">
                    <img src="<%=list.image.url%>" class="card-img-top" style="height:20rem" alt="image_card">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b><%= list.title %></b> <br>
                            &#8377;<%= list.price.toLocaleString("en-IN")%>/night
                        </p>
                    </div>
                </div>
            </a>    
        <% } %>
    </div>
</body>
