<% layout('layout/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2">
        <body> 
            <br><br>
            <h5 class="mb-3 mt-2">Create New Listing</h5>
            <form method="post" action="/listing" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label"> Title:</label>
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title" required>
                    <div class="invalid-feedback">
                        Please Enter title.
                      </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea id="desc" rows="3" cols="25" name="description" class="form-control" placeholder="Description" required></textarea>
                    <div class="invalid-feedback">
                        Enter a short Description.
                      </div>
                </div>

                <div class="mb-3">
                    <label for="image URL" class="form-label"> Image_URL:</label>
                    <input type="text" id="image URL" name="image" class="form-control" placeholder="Entre Image_URL" required>
                    <div class="invalid-feedback">
                         Please Drop a Image_URL.
                      </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-5">
                        <label for="price" class="form-label"> Price:</label>
                        <input type="number" id="price" name="price" class="form-control" placeholder="1500" required>
                        <div class="invalid-feedback">
                                Enter  valid Price .
                          </div>
                    </div>
                    <div class="mb-3 col-md-7" >
                        <label  for="country" class="form-label"> Country :</label>
                        <input type="text"  name="country" class="form-control" placeholder="India" required>
                        <div class="invalid-feedback">
                            Enter Country Name.
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label"> Location:</label>
                    <input type="text" id="location" name="location" class="form-control" placeholder="Goa" required>
                    <div class="invalid-feedback">
                        Choose a Valid Location.
                      </div>
                </div>
                <br>
                <button class="btn btn-dark">submit</button>
            </form>      
        </body>
    </div>    
</div>     
